.table {
  border: 1px solid black;
  margin-top: 25px;
}

td {
  border: 1px solid black;
}
th,
tr {
  border: 1px solid red;
}
.Stock {
  margin: 50px;
}
.searchbox {
  margin-bottom: 25px;
}
.Quote {
  margin: 50px;
}
.Active {
  background-color: cornsilk;
}
